html, body {
	margin: auto;
  height: 100%;
	background: #f1f1ee;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Abril Fatface', cursive;
	z-index: 1;
	color: #010326;
	margin: 20px;
}

h3 {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Abril Fatface', cursive;
	z-index: 1;
	color: #FFF;
}

.about-page {
  background: linear-gradient(rgba(1, 3, 38, 0.55), rgba(5, 40, 242, 0.55)), url("http://harpstreit.github.io/assets/crystal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  height: 100%;
}

}
.fa, .fa-bars {
  color: #fff;
  font-size: 1.5em;
  margin: 50px 120px 0px 50px;
}

li {
  list-style-type: none;
}

a.about-me-list {
  color: #121C25;
}

.list-items, .dd-list-items, .about-me-list {
  position: relative;
  text-decoration: none;
  float: left;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
  padding: 20px;
  color: #FFF;
}

.list-items:before, .dd-list-items:before, .about-me-list:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0583F2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.list-items:hover:before, .dd-list-items:hover:before, .about-me-list:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(.8);
}

.list-items:hover, .dd-list-items:hover, .fa-bars:hover, .about-me-list:hover {
  color: #0583F2 !important;
  transition: color 0.5s ease;
}

#navbar {
  width: 100%;
  z-index: 1;
	justify-content: flex-end;
	display: flex;
}

 ul {
	 width: 100%;
	 display: flex;
	 justify-content: flex-end;
 }

a {
  text-decoration: none;
}

/* landing page intro*/
.wrapper {
  height: 100%;
	display: flex;
}

#abrilStyle {
  font-family: 'Abril Fatface', cursive;
}

#intro {
	display: flex;
	justify-content: center;
	width: 100%;
}

.intro-page {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.35em;
  max-width: 55%;
	color: #010326;
	text-align: center;
}

#portfolio-wrapper {
	padding-top: 5%;
}
/* about page paragraph */
#about-me {
  z-index: 1;
  position: absolute;
  top: 170px;
  left: 25%;
  width: 51%;
}

.intro-paragraph {
  text-align: center;
  color: #FFF;
  font-size: 1.5em;
  font-family: 'PT Sans', sans-serif;
}

/* dropdown menu*/
#nav-content {
  position: absolute;
  max-height: 0;
  overflow: hidden;
}

#drop-down {
  float: right;
}

#drop-down-nav {
  display: none;
}

.fa-bars:hover #drop-down-nav {
  display: block;
  transition: all 0.5s ease-in-out 0s;
  font-size: .75em;
}

/* don't display bars until screen is 600px or less */
@media screen and (min-width: 1095px) {
  .fa-bars {
    display: none;
  }
}

@media screen and (max-width: 1095px) {
  #menuItems {
    display: none;
  }
}

/* about page project links*/
a.project-tag {
  color: #ED20D4;
}

a.project-tag:hover {
  color: #05DBF2;
  transition: color 0.5s ease;
}

/*contact form page*/
#contact-form {
	display: flex;
	justify-content: center;
	z-index: 1;
}

form {
	border-radius: 5px;
	background: linear-gradient(rgba(5, 40, 242, 0.55), rgba(1, 3, 38, 0.55));
	opacity: .75;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	min-width: 200px;
	width: 400px;
	height: 450px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.contact-input, textarea {
	width: 150px;
	margin: auto;
	border-radius: 5px;
	font-family: 'PT Sans', sans-serif;
  font-size: 1.25em;
	text-align: center;
}

.btn {
	display: block;
	color: #FFF;
	background: #0528F2;
	border-radius: 5px;
	transition: background 0.5s ease;
	font-size: 1em;
	text-align: center;
	padding: 10px;
	border: none;
	margin: auto;
}

.btn:hover {
	background: #0583F2;
}

/*portoflio page*/
#portfolio-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.portfolio-squares {
	display: flex;
  align-items: center;
  justify-content: center;
	width: 250px;
	height: 350px;
	border: solid 2px #010326;
	border-radius: 2px;
	text-align: center;
	color: #FFF;
	font-family: 'PT Sans', sans-serif;
	margin: 50px;
	z-index: 1;
	transition: all 0.75s ease;
}

.portfolio-squares:hover {
	background: rgba(5, 131, 232, 0.5);
	border-radius: 2px;
	transition: all 0.75s ease;
}

.project-title {
	text-align: center;
	color: #FFF;
	font-family: 'Abril Fatface', cursive;
	font-size: 1.35em;
}

.project-title:before:nth-child(1) {
	content: "JTEF Charity Jikkou";
	font-family: 'Abril Fatface', cursive;
	font-size: 1.35em;
	color: #010326;
}

.project-title:nth-child(2) {
	content: "On The Edge";
	font-family: 'Abril Fatface', cursive;
	font-size: 1.35em;
	color: #010326;
}

.project-title:hover:before {
	content: "See Project";
	color: #010326;
}

.portfolio-image {
	width: 100%;
}

/* about me page footer*/

.about-me-list {
	color: #FFF !important;
}

.list-items {
	color: #010326;
}

/*#footer {
  width: 100%;
  height: 100%;
  /*position: fixed;
  bottom: 0;
  top: 300px;
  overflow: hidden;
  transform: skewY(10deg);
  transform-origin: 0;
  background:linear-gradient(rgba(5, 40, 242, 0.5), rgba(1, 3, 38, 0.7));
}*/
