html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow-x: hidden;
}


#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

#name {
	width: 30%;
	margin: 10em;
	border-right: #2E0036 solid 5px;
}

#projects {
	width: 30%;
}

@media screen and (max-width: 1200px) {
	#name, #projects {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		padding: 2em;
		border-right: none;
	}
}

h1 {
	font-size: 3em;
	font-family: 'Libre Baskerville', serif;
	color: #373A3A;
	padding-bottom: .3em;
}

h2{
	font-size: 3em;
	font-family: 'Libre Baskerville', serif;
	color: #373A3A;
	padding-bottom: .3em;
}

p, ul, a, li {
	font-size: 20px;
	font-family: sans-serif;
	color: #373A3A;
	text-decoration: none;
}

li:hover {
	color: #FCE8FF;
	transition: 1s;
}